[Unit]
Description=Run the php server for Shelf

[Service]
Type=simple
User=rich
#EnvironmentFile=
Restart=always
RestartSec=60
WorkingDirectory=/home/rich/code/clones/shelf/
ExecStart=/bin/php -S localhost:8123 /home/rich/code/clones/shelf/app/router.php

[Install]
WantedBy=multi-user.target
